PORT=3001
QDRANT_URL=https://<waiting-for-cluster-host>:6333
ANTHROPIC_API_KEY=
GEMINI_API_KEY=
GROQ_API_KEY=
ACTIVE_MODEL=gemini
SESSION_SECRET=your-random-string
SERPER_API_KEY=be855af5cd2fdc52b99b7fc7073bdcc8c8e1a433
TRACKER_USER_ID=    
